<div class="row" *ngIf="!onlyShow"> 
  <div class="col-12 text-right">
      <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalFrmCliente">
          <i class="material-icons">add</i> Agregar
      </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-header card-header-success">
              <h4 class="card-title">Lista de empleados registrados</h4>
              <p class="card-category"></p>
          </div>
          <div class="card-body table-responsive">
              <table class="table table-hover">
                  <thead class="text-success">
                      <th>RUC</th>
                      <th>RAZ&Oacute;N SOCIAL</th>
                      <th>TELEFONOS</th>
                      <th>TIPO</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let cliente of clientes | async">
                          <td>{{cliente.numRuc}}</td>
                          <td>{{cliente.razonSocial}}</td>
                          <td> {{cliente.telefono1}} / {{cliente.telefono2}} </td>
                          <td>{{cliente.tipoCliente}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<app-form-clientes></app-form-clientes>